@import "vars";
@import "libs";
@import "global";

.fp-viewing-top .header {
    background-color: transparent;
    top: 30px;
    padding: 0;
}
.header {
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    right: 0;
    padding: 20px 0;
    background-color: rgba(28, 28, 28, 0.9);
    transition: 0.6s;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 17px;
        @extend %ubuntu-medium;
    }
    &__btn {
        color: white;
        background-color: transparent;
        padding: 6px 28px;
        border: 1px solid white;
        border-radius: 3px;
        margin-right: 8px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            color: #000;
            background-color: #fff;
        }
    }
    &__phone {
        font-size: 16px;
        line-height: 18px;
        @extend %ubuntu-bold;
    }
}

.menu {
    &__list-item {
        display: inline-block;
        & + .menu__list-item {
            padding-left: 20px;
        }
        &.active a {
            color: rgb(199, 199, 199);
        }
    }
    &__list-phone {
        display: none;
    }
    &__btn {
        display: none;
    }
}
.fp-tableCell {
    height: 100% !important;
}
.top {
    background-image: url("../images/top-bg.jpg"); /* тень можно прописать , показано в гайде на 1:00:00 */
    display: flex;
    align-items: flex-end;

    &__inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    &__title {
        font-size: 96px;
        line-height: 115px;
        @extend %sf-semibold;
        margin-bottom: 25px;
    }
    &__text {
        margin: 25px 0 35px;
        max-width: 325px;
    }
    &__social-list {
        margin-bottom: 15px;
    }
    &__social-item {
        display: inline-block;
        margin: 0 25px;
        opacity: 0.6;
        transition: all 0.3s;
        &:hover {
            opacity: 1;
        }
    }
}

.product {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
    }
    &__text {
        max-width: 440px;
        p {
            margin-bottom: 30px;
        }
    }
    &__slider-box {
        position: relative;
        padding-top: 60px;
    }
    &__slider-text {
        width: 285px;
        position: absolute;
        text-align: right;
        font-size: 24px;
        line-height: 28px;
        @extend %ubuntu-medium;
        z-index: 10;
        bottom: 35px;
        left: -200px;
    }
    &__slider {
        max-width: 560px;
        &::before {
            content: " ";
            position: absolute;
            width: 560px;
            height: 276px;
            border: solid 4px white;
            top: -15px;
            right: -17px;
        }
    }
}

.slider-btn {
    padding: 16px 26px;
    border: none;
    background-color: #fff;
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 5;
    bottom: -45px;
    outline: none;
    svg {
        stroke: black;
    }
    &__left {
        right: 60px;
    }
    &.slick-disabled {
        /*  запись означает что стили будут применены только если два класса будут вместе */
        background-color: #1c1c1c;
        svg {
            stroke: white;
        }
    }
}

.benefit {
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        padding-left: 25px;
        svg {
            position: absolute;
        }
        .line-1 {
            left: 410px;
            top: 42px;
        }
        .line-2 {
            top: 175px;
            left: 200px;
        }
        .line-3 {
            top: 300px;
            right: 550px;
        }
    }
    &__item {
        margin-bottom: 100px;
        display: flex;
        align-items: flex-end;
        &:nth-child(even) {
            margin-bottom: 80px;
        }
        &:nth-child(3) {
            margin-left: 40px;
        }
        &:nth-child(2) {
            margin-right: 40px;
        }
    }
    &__num {
        line-height: 41px;
        font-size: 36px;
        @extend %ubuntu-bold;
        margin-right: 10px;
    }
    &__img {
        position: relative;
        margin-right: 32px;
    }
    &__info {
        width: 300px;
    }
    &__info-title {
        width: 123px;
        font-size: 21px;
        @extend %ubuntu-bold;
        line-height: 24px;
        margin-bottom: 10px;
    }
    &__info-text {
        font-size: 15px;
        line-height: 18px;
    }
}
.specification {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
    }
    &__box {
        width: 280px;
        position: relative;
        margin-top: 10px;
        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;
        }
    }
    &__box-2 {
        margin-top: 140px;
    }

    &__box-4 {
        margin-top: 160px;
    }
    &__box-1::before {
        background-image: url("../images/pointer-1.svg");
        width: 229px;
        height: 112px;
        right: -176px;
        top: 12px;
    }
    &__box-2::before {
        background-image: url("../images/pointer-2.svg");
        width: 346px;
        height: 81px;
        top: -64px;
        right: -311px;
    }
    &__box-3::before {
        background-image: url("../images/pointer-3.svg");
        width: 258px;
        height: 107px;
        left: -269px;
        top: 15px;
    }
    &__box-4::before {
        background-image: url("../images/pointer-4.svg");
        width: 124px;
        height: 89px;
        left: -134px;
        top: -72px;
    }
    &__box-title {
        font-size: 21px;
        line-height: 28px;
        @extend %ubuntu-bold;
        margin-bottom: 10px;
    }
    &__box-text {
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
    }
}
.questions {
    &__items {
        max-width: 757px;
        padding-bottom: 15px;
    }
    &__item {
        background-color: rgba(0, 0, 0, 0.3);
        max-width: 690px;
        position: relative;
        &:nth-child(3)::before {
            content: "";
            position: absolute;
            width: 319px;
            height: 125px;
            top: -33px;
            right: -386px;
            background-image: url("../images/questions-bg.png");
        }
    }
    &__item-title {
        font-size: 21px;
        max-width: 690px;
        line-height: 28px;
        @extend %ubuntu-medium;
        color: rgba(#fff, 0.8);
        padding: 20px 10px 24px 40px;
        position: relative;
        margin-bottom: 4px;
        cursor: pointer;
        &::after {
            content: url("../images/arrow-down-2.svg");
            position: absolute;
            width: 72px;
            height: 67px;
            background-color: #fff;
            right: -72px;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__item-text {
        padding: 0 5px 75px 50px;
        font-size: 15px;
        line-height: 22px;
        margin: 0 0 4px;
        display: none;
    }
    &__item.questions__item--active {
        .questions__item-title::after {
            transform: rotate(180deg);
            transition: 0.3s;
        }
        .questions__item-text {
            display: block;
        }
    }
}

.contacts {
    &__inner {
        display: flex;
    }
    &__info {
        width: 240px;
        margin-right: 60px;
    }
    &__info-box {
        margin-bottom: 30px;
    }
    &__info-title {
        line-height: 24px;
        font-size: 21px;
        @extend %ubuntu-bold;
        margin: 0 0 13px;
    }
    &__info-phone,
    &__info-email {
        font-size: 15px;
        list-style: 18px;
    }
    &__info-email:hover {
        text-decoration: underline;
    }
    &__form {
        width: 570px;
        margin-right: 106px;
    }
    &__form-title {
        line-height: 24px;
        font-size: 21px;
        @extend %ubuntu-bold;
        margin: 0 0 13px;
    }
    &__form-text {
        font-size: 15px;
        list-style: 18px;
        margin: 0 0 12px;
    }
    &__form-line {
        display: flex;
        justify-content: space-between;
    }
    &__form-input,
    &__form-textarea {
        background: rgba(0, 0, 0, 0.5);
        border: none;
        outline: none;
        color: white;
        @extend %ubuntu-medium;
        padding: 15px;
        font-size: 13px;
        line-height: 15px;
        &::placeholder {
            color: rgba(#fff, 0.4);
        }
    }
    &__form-input {
        width: 49%;
    }
    &__form-textarea {
        min-height: 144px;
        width: 100%;
        resize: none;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    &__form-btn {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 16px;
        @extend %ubuntu-bold;
        border: solid 1px #fff;
        border-radius: 2px;
        padding: 19px 15px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        transition: all 0.3s;
        outline: none;
        &:hover {
            background-color: white;
            color: black;
        }
    }
    &__social-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__social-item {
        margin: 14px 0;
    }
}
.footer {
    position: relative;
    &__copy {
        position: absolute;
        right: 0;
        bottom: -100px;
        font-size: 13px;
        text-align: right;
        line-height: 15px;
        color: white;
        opacity: 0.64;
    }
}

@import "media";
